<div class="jumbotron">
  <div class="flex flex-col items-center justify-center">
    <div class="text-red-600 font-bold text-[20px] hover:text-white mt-[15px]">
      <span> SHIDO </span>
    </div>
    <div class="space-x-4 text-white mt-[15px]">
      <a class="nav-link" routerLink="home">HOME</a>
      <a class="nav-link" routerLink="services">SERVICES</a>
      <a class="nav-link" routerLink="about">ABOUT</a>
      <a class="nav-link" routerLink="certificates">CERTIFICATES</a>
      <a class="nav-link" routerLink="contact">CONTACTS</a>
    </div>
    <div class="logos">
      <a href="https://www.facebook.com/miguel.bautista.963434/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/shido.xxix/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/sidbautista" target="_blank"><i class="fab fa-github"></i></a>
      <a href="mailto:bautistamiguelvictorsid@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
    </div>
  </div>
  <div>
    <hr class="mt-[25px]" style="border-color: white;">
    <div class="flex flex-col items-center justify-center text-white ">
      <p class="mt-[10px]">
        © 2023 Shido. All rights reserved.
      </p>
    </div>
  </div>
</div>
