.jumbotron{
  height: 30vh;
  background-color: rgb(12 10 9);
}

.logos a{
  color: #fff;
  font-size: 1.7rem;
  margin-right: 40px;

}
.logos {
  margin-top: 20px;
  margin-left: 35px;
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-out;
}

.nav-link:hover::before {
  width: 100%;
}

