<div class="container">
  <div class="top-left">
    <img src="assets\images\me2.jpg" alt="me">
  </div>
  <div class="top-right">
    <div class="about">
      <h2>
        About Me
      </h2>
      <p>
          Hi! I am Miguel Victor Sid G. Bautista, I am currently a 4th year student
          taking Bachelor of Science in Computer Engineering course, and I am a freelancer
          building websites and applications. I am interested in programming, building projects,
          and collaborating on ideas with other people. I am eager
          to learn more in the IT industry.
      </p>
    </div>
  </div>
  <div class="mid">
    <h2 class="header">Projects</h2>
  </div>
  <div class="bottom-left">
      <div class="project-container" style="background-image: url('assets/images/project-baybayin.png');">
        <div class="project-item">
          <a href="https://baby-a-baybayin-translator.jimdosite.com/" target="_blank">
            <button class="visit">
              Visit
            </button>
          </a>
        </div>
      </div>
  </div>
  <div class="bottom-right">
    <div class="project-container" style="background-image: url('assets/images/project-portfolio.png');">
        <div class="project-item">
          <a href="https://miggyviccy.github.io/" target="_blank">
            <button class="visit">
              Visit
            </button>
          </a>
        </div>
      </div>
  </div>
</div>
