<div class="jumbotron">

  <div class="flex flex-wrap">
    <img src="assets\images\me2.jpg" alt="me" class= "w-[280px] h-[280px] mr-auto ml-[200px] mt-[100px]">
    <div class="ml-auto mt-[100px] mr-[225px]">
        <pre>
          <h2 class="text-white text-[35px] font-bold mb-[-70px] mt-[-90px] ml-[-125px]">
            About Me
          </h2>
          <p class="text-white text-justify ">
                Hi! My full name is Miguel Victor Sid G. Bautista,
            and I am interested in programming, building projects,
            and collaborating on ideas with other people. I am eager
            to learn more in the IT industry.
          </p>
        </pre>
    </div>
  </div>
</div>
