<div class="container">
    <div class="top-left">
      <img src="assets\images\me2.jpg" alt="me">
    </div>
    <div class="top-right">
      <div class="about">
        <h2>
          About Me
        </h2>
        <p>
            Hi! I am Miguel Victor Sid G. Bautista, I am currently a 4th year student
            taking Bachelor of Science in Computer Engineering course, and I am a freelancer
            building websites and applications. I am interested in programming, building projects,
            and collaborating on ideas with other people. I am eager
            to learn more in the IT industry.
        </p>
      </div>
    </div>
    <div class="bottom-left">
    </div>
    <div class="bottom-right">
    </div>
</div>
