
  <div class="container">

        <div class="service-component">
            <div class="header">
              <h2 class="text-3xl font-bold mb-4 mr-10 text-white">Services</h2>
            </div>
              <div class="wrapper">
                <div class="service-box">
                  <img src="assets\images\webdevlogo.png" alt="Web Development Logo" class="service-logo">
                  <h3 class="text-lg font-bold mb-2 text-white">Web Development</h3>
                  <p class="text-gray-500">Experienced in web development with involvement in several projects.</p>
                </div>
              </div>
              <div class="wrapper">
                <div class="service-box-mid">
                  <img src="assets\images\freelancelogo.png" alt="Freelancing Logo" class="service-logo">
                  <h3 class="text-lg font-bold mb-2 text-white">Freelancing</h3>
                  <p class="text-gray-50">Been diligently working on an online project for a client, striving to deliver a successful and impressive outcome.</p>
                </div>
              </div>
              <div class="wrapper">
                <div class="service-box">
                  <img src="assets\images\appdesignlogo.png" alt="App Designs Logo" class="service-logo">
                  <h3 class="text-lg font-bold mb-2 text-white">App Designs</h3>
                  <p class="text-gray-500">Actively participated in app design projects as part of our school thesis and projects.</p>
                </div>
              </div>
        </div>

         <!-- LANGUAGE -->
    <div class="language-component">
      <div class="header">
        <h2 class="text-3xl font-bold mb-4 text-white">Skill-Set</h2>
      </div>
      <div class="wrapper">
          <div class="skills">
            <div class="skill-item">
              <h3 class="text-white">HTML</h3>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 70%;">70%</div>
              </div>
            </div>
          </div>
      </div>
      <div class="wrapper">
        <div class="skills">
          <div class="skill-item">
            <h3 class="text-white">CSS</h3>
            <div class="skill-bar">
              <div class="skill-progress" style="width: 60%;">60%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="skills">
          <div class="skill-item">
            <h3 class="text-white">JavaScript</h3>
            <div class="skill-bar">
              <div class="skill-progress" style="width: 45%;">45%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="skills">
          <div class="skill-item">
            <h3 class="text-white">Angular</h3>
            <div class="skill-bar">
              <div class="skill-progress" style="width: 50%;">50%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="skills">
          <div class="skill-item">
            <h3 class="text-white">Java</h3>
            <div class="skill-bar">
              <div class="skill-progress" style="width: 60%;">60%</div>
            </div>
          </div>
        </div>
      </div>
  </div>





