
  <div class="jumbotron">
      <div id="services-section">
          <div class="service-component">
            <h2 class="text-3xl font-bold mb-4 mr-10 text-white">Services</h2>
            <div class="grid grid-cols-3 gap-4 mb-8">
              <div class="service-box">
                <img src="assets\images\webdevlogo.png" alt="Web Development Logo" class="service-logo">
                <h3 class="text-lg font-bold mb-2 text-white">Web Development</h3>
                <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci nec turpis aliquet lacinia.</p>
              </div>
              <div class="service-box-mid">
                <img src="assets\images\freelancelogo.png" alt="Freelancing Logo" class="service-logo">
                <h3 class="text-lg font-bold mb-2 text-white">Freelancing</h3>
                <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci nec turpis aliquet lacinia.</p>
              </div>
              <div class="service-box">
                <img src="assets\images\appdesignlogo.png" alt="App Designs Logo" class="service-logo">
                <h3 class="text-lg font-bold mb-2 text-white">App Designs</h3>
                <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci nec turpis aliquet lacinia.</p>
              </div>
            </div>

          <!-- LANGUAGE -->
          <h2 class="text-3xl font-bold mb-4 mr-10 text-white">Skill-set</h2>
          <div class="skills">
            <div class="skill-item">
              <h3 class="text-white">HTML</h3>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 70%;">70%</div>
              </div>
            </div>
            <div class="skill-item">
              <h3 class="text-white">CSS</h3>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 55%;">55%</div>
              </div>
            </div>
            <div class="skill-item">
              <h3 class="text-white">JavaScript</h3>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 40%;">40%</div>
              </div>
            </div>
            <div class="skill-item">
              <h3 class="text-white">Angular</h3>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 40%;">40%</div>
              </div>
            </div>
            <div class="skill-item">
              <h3 class="text-white">Java</h3>
              <div class="skill-bar">
                <div class="skill-progress" style="width: 60%;">60%</div>
              </div>
            </div>
          </div>

          </div>
      </div>
  </div>
