.container {
  background-color: rgb(41 37 36);
  height: 92vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;

  .certificate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    .box{
      height: 300px;
      width: 450px;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .boxes{
      height: 80%;
      width: 350px;
      img {
          height: 100%;
          width: 100%;
        }
    }
  }
}
