<div class="container">
  <div class="certificate">
    <div class="box">
      <img src="assets/images/cyber.png" alt="image">
    </div>
  </div>
  <div class="certificate">
    <div class="box">
      <img src="assets/images/cyber1.png" alt="image">
    </div>
  </div>
  <div class="certificate">
    <div class="box">
      <img src="assets/images/robotics.png" alt="image">
    </div>
  </div>
  <div class="certificate">
    <div class="boxes">
      <img src="assets/images/database.png" alt="image">
    </div>
  </div>
</div>
