@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */

@media only screen and (max-width: 600px) {
  .container {
    padding: 0; /* Remove container padding to expand navbar to full screen width */
  }z
  .nav-link {
    font-size: 16px; /* Decrease font size for mobile devices */
  }
  .bg-stone-800 {
    height: 60px; /* Increase navbar height for better visibility on mobile devices */
  }
  .flex {
    flex-direction: row; /* Stack the items vertically on mobile devices */
  }
  .items-center {
    align-items: center; /* Center the items vertically on mobile devices */
  }
  .justify-between {
    justify-content: space-between; /* Add space between logo and navigation items on mobile devices */
  }
  .logo {
    font-size: 24px; /* Increase logo font size for better visibility on mobile devices */
  }
}

.container{
  max-width: 100%;
}


.nav-link {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-link:after {
    transition: all ease-in-out .2s;
    background: none repeat scroll 0 0 red;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.nav-link:hover:after {
    width: 100%;
}
