<nav class="bg-stone-800 h-20 w-full absolute">
  <div class="flex items-center justify-between h-full px-6 md:px-10">
    <a class="flex items-center">
      <a class="font-extrabold text-2xl " routerLink="home" (click)="scrollToSection('home')">
        <div class="flex items-center text-red-600 hover:text-white">
          <span class="logo">SHIDO</span>
        </div>
      </a>
    </a>
    <div class="flex items-center space-x-4">
      <a class="nav-link"  routerLink="services" (click)="scrollToSection('services')">Services</a>
      <a class="nav-link"  routerLink="about" (click)="scrollToSection('about')">About</a>
      <a class="nav-link"  routerLink="contact" (click)="scrollToSection('contact')">Contacts</a>
    </div>
  </div>
</nav>
