<div class="jumbotron">
  <div class="container">
    <div class="contact-left">
      <pre>
        <h1 class="text-white text-[43px] mt-[-85px]">
          Got a project?
          Lets talk.
        </h1>
        <p class="mt-[-110px] text-gray-400 ml-[152px]">
          Below are my social media accounts.
        </p>
      </pre>
      <div class="ml-[300px] mt-[-50px]">
        <a href="https://www.facebook.com/miguel.bautista.963434/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/shido.xxix/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/miggyviccy" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:bautistamiguelvictorsid@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
      </div>
    </div>
    <div class="contact-right">
      <h1 class="text-white text-[30px] ml-[-7px] mt-[30px]">Let me know your project !</h1>
      <div class="identity">
        <pre>
        <input class="input-field" type="text" id="fullname" name="fullname" placeholder="What's your name?" required>
        <input class="input-field" type="email" id="email" name="email" placeholder="Enter your Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        <input class="input-field" type="text" id="project" name="project" placeholder="Tell me about your project" required>
        <button class="send-button">Send</button>
        </pre>
      </div>
    </div>
  </div>
</div>
