.container{
  height: 80vh;
  max-width: 100%;
  background-color: rgb(68 64 60);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
// left
.contact-left {
  height: 100%;
  display: grid;
  grid-template-columns: repeat;
  align-content: start;
  justify-content: flex-end;

}

.content{
  margin-top: 50px;
}

.project{
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.contact-info{
  font-size: 20px;
  color: white;
  margin-top: 35px;
  margin-bottom: 40px;
}

.links{
  text-align: center;
}

.links a{
  color: rgb(220 38 38);
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 20px;
}


// right
.contact-right {
 height: 100%;
 justify-self: center;
 align-self: center;
}

.project-header{
  color: white;
  font-size: 40px;
}

.contact-right h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.contact-right p {
  margin-top: 0.5rem;
}

.identity{
  display: flex;
  flex: 1;
  border: none;

}

.input-field {
  display: block;
  width: 500px;
  height: 50px;
  background-color: rgb(68 64 60);
  color: #fff;
  padding: 0px;
  border: none;
  border-bottom: 2px solid #fff;
}

.input-field:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.send-button {
  background-color: rgb(220 38 38);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px){
  .container{
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    .contact-right{
      width: 100%;
      align-content: center;
      justify-content: center;
      grid-column: 1;
      grid-row: 1;
      .input-field{
        height: 40px;
        width: 350px;
      }
    }
    .contact-left{
      width: 100%;
      grid-column: 1;
      grid-row: 2;

      .content{
        margin-top: 0px;

        .contact-info h2{
          text-align: center;
          font-size: 25px;
          margin-top: 10px;

        }
      }
    }
  }
}
