  @tailwind base;
@tailwind components;
@tailwind utilities;



.about {
  padding: 8px 17px;
  border: none;
  font-size: 12px;
  color: #dde7ec;
  border-radius: 10px;
  letter-spacing: 4px;
  font-weight:130;
  text-transform: uppercase;
  background: rgb(220 38 38);
}

.jumbotron{
  height: 95vh;
}
