<div id="home">
  <div class="jumbotron">
      <div class="flex items-center">
        <pre>
            <h1 class="text-white pl-[120px] text-[30px] font-bold mr-auto ">
            Hello,
            <span class="text-red-600 text-[40px]">I am Sid Bautista</span>
            <span class="text-gray-400">and i am interested in
            Web Development</span>
            </h1>
        </pre>

        <img src="assets\images\me.jpg" alt="image" class="rounded-full w-[280px] h-[280px] ml-auto mr-[250px] mt-[90px]">
      </div>

      <div class="pl-[227px] mt-[-100px]">
        <a href="https://drive.google.com/file/d/1LkFMes5a9DUEGEwobA6GBCAkCjn8lJxT/view?usp=sharing" target="_blank">
          <button class="about">
            Download CV
          </button>
        </a>
      </div>
  </div>
</div>
