.container {
  background-color: rgb(41 37 36);
  height: 100vh;
  display: flex;
  max-width: 100%;
}

// column left
.left {
  background-color: rgb(41 37 36);
  width: 55%;
  display: grid;
  padding-left: 50px;
  align-content: center;
  justify-content:center;

}
.left h1{
  font-size: 25px;
  font-weight: bold;
}
.left span,.left h2 {
  font-weight: bold;
}


// left columns
.wrapper {
  display: grid;
  height: 200px;
  width: 450px;
  grid-template-rows: 30px;
  margin-left: 30px;
}


// column right
.right {
  background-color: rgb(41 37 36);
  width: 45%;
  align-self:center;
}

.right img {
  height: 350px;
  width: 350px;
}


.cv {
  padding: 8px 17px;
  border: none;
  font-size: 12px;
  color: #dde7ec;
  border-radius: 10px;
  letter-spacing: 4px;
  font-weight:130;
  text-transform: uppercase;
  background: rgb(220 38 38);
  margin-top: 25px;
  justify-content: center;
}

